body {
  font-family: 'Helvetica Neue', sans-serif;
  background-color: whitesmoke;
  color: #333;
}
html {
  scroll-behavior: smooth;
}
:root {
  --color-primary: #061f57;
  --color-success: #117e32;
  --color-danger: #ca211b;
}
[disabled] {
  filter: grayscale(100%);
}
.text-center {
  text-align: center !important;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#form {
  width: 80%;
  display: grid;
  padding: 0.5rem;
  min-width: 300px;
  border-radius: 10px;
  grid-template-areas:
    'data-details data'
    'actions actions';
}
#form input {
  text-align: center;
  border-bottom: 1px solid var(--color-primary);
}
input {
  display: block;
  width: 95%;
  margin: 0.7rem auto;
  padding: 0.7rem;
  outline: none;
  border: none;
  background: inherit;
  font-family: monospace;
  letter-spacing: 1px;
}
.input-wrapper {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-primary);
  border-radius: 5px;
}
#app-title {
  font-size: 1.5rem;
  font-family: monospace;
  letter-spacing: 2px;
  font-weight: bold;
}
#title {
  font-size: 1.5rem;
  letter-spacing: 2px;
  padding: 0.5rem;
  color: var(--color-primary);
  text-align: center;
}
#data-details {
  grid-area: data-details;
}
#data {
  grid-area: data;
}
#actions {
  grid-area: actions;
  display: flex;
  justify-content: center;
}
.data-col {
  margin: 0 1rem;
}
.data-col > h4 {
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
}
button {
  padding: 0.5rem;
  cursor: pointer;
  display: block;
  margin: 1rem auto;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: var(--color-primary);
  min-width: fit-content !important;
  width: 30%;
  color: white;
}
button:hover {
  filter: brightness(70%);
}
button#showhide {
  background: none;
  color: var(--color-primary);
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.row > label {
  flex: 40%;
  display: block;
  text-transform: uppercase;
  color: #444;
  font-size: 0.8rem;
}
.row > p {
  flex: 55%;
  letter-spacing: 2px;
  font-family: monospace;
  font-weight: bold;
  padding: 1rem 0.5rem;
  border-radius: 5px;
  border: 1px solid #444;
  color: #222;
}
#res {
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
  width: 40%;
  min-width: 300px;
}
#res > h2 {
  padding: 0.5rem;
  color: var(--color-primary);
  border-radius: 5px;
}
footer {
  text-align: center;
  color: whitesmoke;
  background: var(--color-primary);
  padding: 1rem;
  margin-top: 1rem;
  bottom: 0;
}

@media (max-width: 768px) {
  #form {
    grid-template-areas:
      'data-details data-details'
      'data data'
      'actions actions';
  }
  #form input {
    text-align: center;
  }
  #res {
    width: 80%;
  }
}

@media (max-width: 600px) {
  #form,
  #res {
    box-shadow: none;
    border: none;
  }
  .row {
    display: block;
  }
  .input-wrapper {
    display: block;
    border: none;
  }
  #username,
  #password {
    border-radius: 5px;
    border-bottom: 1px solid var(--color-primary);
  }
}
